# Ignored extensions
*.aux
*.log
*.out

# Ignored folders
old_scripts/

# Ignored files
Arthur_Bernard_Cover_Letter*
pictures/Green_example_CV.jpg
pictures/Grey_example_CV.jpg
pictures/Red_example_CV.jpg
pictures/Yellow_example_CV.jpg
pictures/photo_arthur_bernard.jpeg
pictures/qrcode_github.jpeg
